* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #0f172a;
  color: #ffffff;
  min-height: 100vh;
}

/* HEADER */
.header {
  text-align: center;
  padding: 30px 20px;
  background: #020617;
  border-bottom: 1px solid #1e293b;
}

.header h1 {
  font-size: 30px;
  margin-bottom: 8px;
}

.header p {
  color: #94a3b8;
}

/* CONTAINER */
.container {
  display: flex;
  gap: 25px;
  padding: 30px;
  justify-content: center;
  flex-wrap: wrap;
}

/* CARD */
.card {
  background: #020617;
  border: 1px solid #1e293b;
  border-radius: 14px;
  width: 420px;
  padding: 20px;
}

.card h2 {
  margin-bottom: 15px;
  font-size: 22px;
}

/* UPLOAD BOX */
.upload-box {
  border: 2px dashed #334155;
  border-radius: 10px;
  height: 140px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #94a3b8;
  background: #0f172a;
  margin-bottom: 15px;
  cursor: pointer;
}

.upload-box:hover {
  border-color: #6366f1;
}

/* BUTTON */
button {
  width: 100%;
  background: #22c55e;
  border: none;
  padding: 12px;
  border-radius: 8px;
  color: #022c22;
  font-size: 16px;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background: #16a34a;
}

/* IMAGE PREVIEW */
.image-preview {
  margin-top: 15px;
  height: 200px;
  border-radius: 10px;
  border: 1px solid #334155;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #0f172a;
  color: #94a3b8;
}

/* TEXT AREA */
textarea {
  width: 100%;
  height: 120px;
  resize: none;
  background: #0f172a;
  color: #cbd5f5;
  border: 1px solid #334155;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 15px;
}

/* INFO BOX */
.info-box {
  background: #0f172a;
  border: 1px solid #334155;
  border-radius: 8px;
  padding: 12px;
  color: #cbd5f5;
}
.image-preview img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 10px;
  object-fit: contain;
}
